.navigation {    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem 0;
    font-size: 1.8rem;
    letter-spacing: 2px;
    border-bottom: $custom-border;
    margin-bottom: 9rem;
    
    &__logo {
        /* ... */
        color: $primary-text-color;
        text-decoration: none;
    }
    
    &__link {
        color: $primary-text-color;
    }
    
    &__list {
        display: flex;
        flex-direction: row;
        text-transform: lowercase;
        list-style: none;
    }
    
    &__item:not(:last-child) {
        margin-right: 3rem;
    }
    
    &__link {
        text-decoration: none;
    }

    &__icon {
        font-size: 1.6rem;
    }
}