.navigation {    
    height: 6rem;
    line-height: 6rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 2rem;
    text-transform: uppercase;

    
    &__list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
        list-style: none;   
    }
    
    &__item {
    }
    
    &__item:not(:last-child) {
        margin-right: 2rem;
    }
    
    &__link {
        text-decoration: none;
        color: $dark-grey;
    }
}